<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechStore{{#if title}} - {{title}} {{else}} - Laptops and Computers{{/if}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

{{>header}}

{{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
{{/if}}

{{{body}}}

{{>footer}}

</body>

</html>