<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Catalog Page</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>

    <div id="box">
      
      <nav>
        {{>nav}}
      </nav>

      <main>
        {{{body}}}
      </main>
      
      <footer>
        © JS Back-End Workshop
      </footer>

    </div>

  </body>

</html>