<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header class="header">
        {{>nav}}
    </header>

    <main>
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->
    {{#if error}}
        <div>
                <div class="errorContainer">
                    <p>{{error}}</p>
                </div>
        </div>   
    {{/if}}
        
        {{{body}}}
    </main>

{{>footer}}

</body>

</html>