<header>
  <div class="container">
    <h1>TechStore</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Search</a></li>
        {{#if user}}
          <!--Users-->
          <li><a href="#">Add Recipe</a></li>
          <li><a href="/auth/logout">Logout</a></li>

          <!--Guest-->
        {{else}}
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/register">Register</a></li>
        {{/if}}
      </ul>

      {{!-- {{#if user}}
        <span>{{user.username}}</span>
      {{/if}} --}}
    </nav>
  </div>
</header>